.sort-section{
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}
.gird-icon{
    transition: all 0.3s ease-in-out;
}
.gird-icon:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1028px) {
    .sort-section{
        margin-left: 1rem;
    }
}