@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.brand-section{
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}
.brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}

@media (max-width:1028px) {
    .brands{
        justify-content: center;
        padding: 0px;
        padding-top: 3rem;
        margin-left: 2px;
        gap: 3rem;

    }
}