@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Moirai+One&display=swap');
.header{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 10001;
    top: 0;
}

.company-name{
    /* font-family: 'Moirai One', cursive; */
    font-family: 'Geologica', sans-serif;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    margin-top: 1rem;    
    position: relative;
    bottom: 0.6rem;
}
.header-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.menu{
    font-family: cursive;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #3c3c3c;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 6rem;
}
.header-right-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-right-icons{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

input[type="text"]{
    border: none;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
    outline: none;
    padding: 0.6rem;
    margin-right: 1rem;
    width: 20rem;
}
input[type="text"]::placeholder{
    color: #ccc;
    font-weight: 400;
    align-items: center;
}
.logged-in-user{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
    margin-left: 1rem;


}
.login-user-name{
    font-family: cursive;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}
.login-icon{
}
.dialog-button{
    height: 2rem;
}
.svg-icon{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-bar{
    z-index: 99999999999999999999999999999999 !important;
    width: 20rem;
}
.login-button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;

}
.header-right-icons-wrapper{
    display: flex;
    gap: 1rem;
}
@media (max-width:1028px) {
    .header{
        padding: 1rem 1rem;
        padding-bottom: 0.5rem;
        gap:1rem
    }
    .company-name{
        font-size: 1rem;
        margin-top: 0.5rem;
        top: 0.2rem;
    }
    .header-center{
        display: none;
        /* position: relative;
         top: 1rem; 
        right: 0rem;
        width: 12rem; */
    }
    .header-right-search{
        display: none;
    }
    /* .login-user{
        position: relative;
        left: -1.5rem;
    } */
    .header-right-icons{
        gap: 15px;
    }
    .header-right{
        margin-bottom: 0.5rem;
        position: relative;
        right: 0.4rem;
    }
    .login-button{
        font-size: 0.5rem;
    
    }
    .dYrfwz{
        min-height: 36px !important;
    }
    .logged-in-user{
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 1.8rem;
        position: relative;
        top: 4px;
    }
    .login-phone-button{
        margin-left: 1.5rem;
        padding: 0.5rem 0.5rem;
        font-size: 0.5rem;
    }
    .search-bar{
        width: 10rem;
    }
    .header-right-icons-wrapper{
        position: relative;
        left: 1.2rem;
    }
}