.Footer {
  background-color: #eaeef2;
  color: #3b4959;
  padding: 5rem;
  padding-bottom: 1rem;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #abb3bc;
  height: 10rem;
}
.footer-section-top-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.footer-section-top-left-title {
  font-size: 45px;
}
.footer-section-top-left-content {
  font-size: 13px;
}
.footer-section-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.footer-section-top-right-section-one {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-section-top-right-section-two {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-section-top-right-section-three {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-section-top-right-section-four {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 3.2rem;
}
.footer-items {
  color: #abb3bc;
  font-size: 13px;
}

.footer-section-bottom {
  padding-top: 1rem;
  font-size: 12px;
  text-align: center;
}
.footer-link:hover {
  color: #3b4959;
  cursor: pointer;
}

@media (max-width: 1028px) {
  .Footer {
    padding: 3rem;
    padding-bottom: 0.5rem;
  }
  .footer-section-top-right {
    display: none;
  }
  .footer-section-top-left {
    position: relative;
    bottom: 2.5rem;
  }
}
